{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/" method="post">

      {% csrf_token %}
      <b>SELECCIONE LA PROVINCIA</b>
      <select class="form-control" name="id_provincia" id="id_provincia" required>
        <option value="">--Seleccione la provincia--</option>
        {% for provincia in provincias %}
          <option value="{{provincia.id_bg}}" {% if cliente.provincia_bg.id_bg == provincia.id_bg %}selected{% endif %}>
            {{provincia.nombre_bg}}
          </option>
        {% endfor %}
      </select>

      <br>

<input type="hidden" name="id_bg" value="{{cliente.id_bg}}">
      <b>CEDULA</b>
      <input type="number" name="cedula_bg" id="cedula_bg"
             value="{{cliente.cedula_bg}}" placeholder="Ingrese la cédula"
             class="form-control" required>
      <b>APELLIDO</b>
      <br>
      <input type="text" name="apellido_bg" id="apellido_bg"
             value="{{cliente.apellido_bg}}" placeholder="Ingrese el apellido"
             class="form-control" required>
      <br>
      <b>NOMBRE</b>
      <input type="text" name="nombre_bg" id="nombre_bg"
             value="{{cliente.nombre_bg}}" placeholder="Ingrese el nombre"
             class="form-control" required>
      <br>
      <b>DIRECCION</b>
      <textarea name="direccion_bg" id="direccion_bg"
                rows="3" class="form-control"
                placeholder="Ingrese la dirección"
      >{{cliente.direccion_bg}}</textarea>
      <br>
      <input type="date" name="fecha_nacimiento_bg"
             id="fecha_nacimiento_bg"
             value="{{cliente.fecha_nacimiento_bg|date:'Y-m-d'}}" placeholder="Ingrese la fecha de nacimiento"
             class="form-control" required>
      <br>
      <input type="email" name="correo_bg" id="correo_bg"
             value="{{cliente.correo_bg}}" placeholder="Ingrese el correo"
             class="form-control" required>
      <br>
      <center>
        <button type="submit" name="button"
                class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
           class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
