{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionIngrediente/" method="post" id="frm_nuevo_provincia" >
      {% csrf_token %}

      <input type="hidden" name="id_bg"  value="{{ingrediente.id_bg}}">
      <b>NOMBRE</b>
      <input type="text" name="nombre_bg" id="nombre_bg"
      value="{{ingrediente.nombre_bg}}" placeholder="Ingrese el nombre del ingrediente"
      class="form-control" required>
      <b>CANTIDAD DISPONIBLE</b>
      <br>
      <input type="CharField" name="cantidad_disponible_bg" id="cantidad_disponible_bg"
      value="{{ingrediente.cantidad_disponible_bg}}" placeholder="Ingrese la cantidad disponible"
      class="form-control" required>
      <br>
      <b>UNIDAD DE MEDIDA</b>
      <input type="text" name="unidad_medida_bg" id="unidad_medida_bg"
      value="{{ingrediente.unidad_medida_bg}}" placeholder="Ingrese la unidad demedida"
      class="form-control" required>
      <br>
      <b>FECHA </b>
      <input type="date" name="fecha_caducidad_bg" id="fecha_caducidad_bg"
      value="{{ingrediente.fecha_caducidad_bg|date:'Y-m-d'}}" placeholder="Ingrese la fecha "
      class="form-control" required>
      <br>
      <b>INGRESE LA IMAGEN</b>
    <input type="text" name="fotografia" id="fotografia"
    value="{{ingrediente.fotografia}}" placeholder="Ingrese la fotografia"
    class="form-control" required>
    <br>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
