{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EL GRAN CAÑON</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="btn btn-primary row align-items-center" href="/">SERVICIOS</a>

        </div>
    </nav>



    <section id="hero" class="bg-primary text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4">Bienvenido a EL GRAN CAÑON</h1>
                    <p class="lead">Descubre la excelencia en cada platillo. Nuestro compromiso es ofrecerte una experiencia gastronómica inolvidable.</p>
                </div>

            </div>
        </div>
    </section>

    <section id="historia" class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="display-4 mb-4">Nuestra Historia</h2>
                    <p class="lead">Desde 1985, El gran cañon ha sido el lugar de encuentro para los amantes de la buena comida. Con recetas únicas y sabores auténticos, hemos construido una tradición que perdura en el tiempo.</p>
                    <p class="lead">Inspirados por la pasión por la gastronomía, nuestro fundador, Juan Pérez, comenzó este viaje culinario con la visión de ofrecer platillos excepcionales en un ambiente acogedor.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="menu" class="py-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="display-4 mb-4">Nuestro Menú</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-3">Entradas</h3>
                            <ul>
                                <li>Bolones</li>
                                <li>Ensaladas</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="mb-3">Platos Principales</h3>
                            <ul>
                                <li>Camarones apanados</li>
                                <li>Hornado con papas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h3 class="mb-3">Postres</h3>
                            <ul>

                                <li>Helado artesanal de vainilla</li>
                                <li>Cheesecake de frutos rojos</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="mb-3">Bebidas</h3>
                            <ul>
                                <li>Agua fresca de pepino y menta</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha384-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

{%endblock%}
