{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO DE RECETAS</h1>
    <br>
    <ul>

        <div class="row">

              <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
                <form action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_receta">
                    {% csrf_token %}
                    <b>SELECCIONE EL INGREDIENTE</b>
                    <select class="form-control" name="id_ingrediente" required>
                      <option value="">--SELECCIONE EL INGREDIENTE  </option>
                      {% for ingrediente in ingredientes %}
                      <option value="{{ingrediente.id_bg}}">
                        {{ingrediente.nombre_bg}}-{{ingrediente.cantidad_disponible_bg}}--{{ingrediente.fecha_caducidad_bg}}
                      </option>
                      {% endfor %}
                    </select>
                    <br>
                    <b>SELECCIONE EL PLATILLO</b>
                    <select class="form-control" name="id_platillo" required>
                      <option value="">--SELECCIONE EL PLATILLO  </option>
                      {% for platillo in platillos %}
                      <option value="{{platillo.id_bg}}">
                        {{platillo.nombre_bg}}-{{platillo.precio_bg}}
                      </option>
                      {% endfor %}
                    </select>

                    <br>

                      <b>CANTIDAD: </b>
                      <input type="text" name="cantidad_bg" id="cantidad_bg" class="form-control" placeholder="Ingrese el estado(Disponible-No disponible)" required>
                      <br>
                      <b>PROCEDIMIENTO:</b>
                      <input type="text" name="procedimiento_bg" value="" id="procedimiento_bg " placeholder="Ingrese las calorias" class="form-control" required>


                        <br>

                    <center>
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                    </center>
                </form>
            </div>
            <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
        </div>
        <br>
                <table class="table table-sm" id="tbl_recetas">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CANTIDAD DE PLATOS</th>
                            <th>PROCEDIMIENTO</th>
                            <th>INGREDIENTE</th>
                            <th>PLATILLO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receta in recetas %}
                            <tr>
                                <td>{{ receta.id_bg }}</td>
                                <td>{{ receta.cantidad_bg }}</td>
                                <td>{{ receta.procedimiento_bg }}</td>
                                <td>{{receta.ingrediente_bg.nombre_bg}}</td>
                                <td>{{receta.platillo_bg.nombre_bg}}-${{receta.platillo_bg.precio_bg}}</td>


                                <td>
                                    <a href="/editarReceta/{{receta.id_bg}}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)"
                                    onclick="eliminarReceta('/eliminarReceta/{{receta.id_bg}}');"class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


            <br>


    </ul>

    <script type="text/javascript">
function eliminarReceta(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
   $("#frm_nuevo_receta").validate({
     rules:{
           "id_ingrediente":{
             required:true
           },
           "id_platillo":{
             required:true
           },
       "cantidad_bg":{
         required:true,
         number:true

       },
       "procedimiento_bg":{
         required:true
       }


     },
     messages:{
       "id_ingrediente":{
             required:"POR FAVOR SELECCIONE EL INGREDIENTE"
           },
           "id_platillo":{
                 required:"POR FAVOR SELECCIONE EL PLATILLO"
               },
       "cantidad_bg":{
         required:"DEBE INGRESAR LA CANTIDAD ",
         number:"DEBE INGRESAR EN NUMEROS"


       },
       "procedimiento_bg": {
         required: "DEBE INGRESAR EL PROCEDIMIENTO DE LA RECETA",
       },
       "observaciones_bg":{
         required:"DEBE INGRESAR LA OBSERVACION DEL PEDIDO"

       }

     }
   });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_recetas').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
