{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO DE PLATILLOS</h1>
    <br>
    <ul>

        <div class="row">

              <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
                <form action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
                    {% csrf_token %}
                    <b>SELECCIONE EL TIPO</b>
                    <select class="form-control" name="id_tipo" required>
                      <option value="">--SELECCIONE EL TIPO </option>
                      {% for tipo in tipos %}
                      <option value="{{tipo.id_bg}}">
                        {{tipo.nombre_bg}}-{{tipo.descripcion_bg}}
                      </option>
                      {% endfor %}
                    </select>

                    <br>
                      <b>NOMBRE:</b>
                      <input type="text" name="nombre_bg" value="" class="form-control" placeholder="Ingrese el nombre " required>
                      <br>
                      <b>PRECIO: </b>
                      <input type="number" name="precio_bg" id="precio_bg" class="form-control" placeholder="Ingrese el precio" required>
                      <br>
                      <b>DISPONIBILIDAD:</b>
                      <input type="text" name="disponibilidad_bg" value="" id="disponibilidad_bg" placeholder="Ingrese la disponibilidad" class="form-control" required>
                      <br>
                      <b>FOTOGRAFIA:</b>
                      <input type="file" name="fotografia" accept="image/*" id="fotografia" required>
                      <br>

                    <center>
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                    </center>
                </form>
            </div>
            <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
        </div>
        <br>
                <table class="table table-sm" id="tbl_platillos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>PRECIO</th>
                            <th>DISPONIBILIDAD</th>

                            <th>TIPO</th>
                            <th>FOTOGRAFIA</th>

                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for platillo in platillos %}
                            <tr>
                                <td>{{ platillo.id_bg }}</td>
                                <td>{{ platillo.nombre_bg }}</td>
                                <td>{{ platillo.precio_bg }}</td>
                                <td>{{ platillo.disponibilidad_bg }}</td>
                                <td>{{platillo.tipo_bg.nombre_bg}}</td>
                                <td>{% if platillo.fotografia %}
                                    <a href="{{platillo.fotografia.url}}" target="_blank">
                                        <img src="{{platillo.fotografia.url}}" alt="" height="50px"></a>
                                    {% else %}
                                    <b>N/A</b>
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="/editarPlatillo/{{platillo.id_bg}}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)"
                                    onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.id_bg}}');"class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>


    </ul>

    <script type="text/javascript">
function eliminarPlatillo(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
   $("#frm_nuevo_platillo").validate({
     rules:{
           "id_tipo":{
             required:true
           },
       "nombre_bg":{
         required:true

       },
       "precio_bg":{
         required:true,
         number:true
       },
       "disponibilidad_bg":{
         required:true
       },
       "fotografia":{
         required:true
       }


     },
     messages:{
       "id_tipo":{
             required:"POR FAVOR SELECCIONE EL TIPO"
           },

       "nombre_bg":{
         required:"DEBE INGRESAR EL NOMBRE DEL PLATILLO",

       },
       "precio_bg": {
         required: "DEBE INGRESAR EL PRECIO DEL PLATILLO",
         number:"DEBE INGRESAR SOLO NUMEROS"
       },
       "disponibilidad_bg":{
         required:"DEBE INGRESAR LA DISPONIBILIDAD DEL PLATILLO"

       },
       "fotografia":{
         required:"SELECCIONE LA FOTOGRAFIA DEL PLATILLO"
       }

     }
   });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_platillos').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
