{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>LISTADO DE CLIENTES</h1>
    <br>
    <ul>

        <div class="row">

              <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
                <form action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
                    {% csrf_token %}
                    <b>SELECCIONE LA PROVINCIA:</b>

                    <select class="form-control" name="id_provincia" required>
                      <option value="">--SELECCIONE LA PROVINCIA  </option>
                      {% for provincia in provincias %}
                      <option value="{{provincia.id_bg}}">
                        {{provincia.nombre_bg}}
                      </option>
                      {% endfor %}
                    </select>

                    <br>
                    <b>CEDULA:</b>
                    <input type="number" name="cedula_bg" value="" id="cedula_bg" placeholder="Ingrese la Cedula" class="form-control" required>
                    <br>
                      <b>APELLIDO:</b>
                      <br>
                      <input type="text" name="apellido_bg" value="" id="apellido_bg" placeholder="Ingrese la Apellido" class="form-control" required>
                      <br>
                      <b>NOMBRE:</b>
                      <input type="text" name="nombre_bg" value="" id="nombre_bg" placeholder="Ingrese la Nombre" class="form-control" required pattern="[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]+" title="Solo se permiten letras y espacios">
                      <br>
                      <b>DIRECCION:</b>
                      <textarea name="direccion_bg" rows="3" cols="80" class="form-control" id="direccion_bg" placeholder="Ingrese Direccion" required></textarea>
                      <br>
                      <b>FECHA DE NACIMIENTO:</b>
                      <input type="date" name="fecha_nacimiento_bg" value="" class="form-control" required>
                      <br>
                      <b>E_MAIL: </b>
                      <input type="email" name="correo_bg" id="correo_bg" class="form-control" placeholder="Ingrese correo" required>
                      <br>

                    <center>
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                    </center>
                </form>
            </div>
            <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">

        </div>
        <br>
                <table class="table table-sm" id="tbl_clientes">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CEDULA</th>
                            <th>APELLIDO</th>
                            <th>NOMBRE</th>
                            <th>DIRECCION</th>
                            <th>FECHA DE NACIMIENTO</th>
                            <th>PROVINCIA</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.id_bg }}</td>
                                <td>{{ cliente.cedula_bg }}</td>
                                <td>{{ cliente.apellido_bg }}</td>
                                <td>{{ cliente.nombre_bg }}</td>
                                <td>{{ cliente.direccion_bg }}</td>
                                <td>{{ cliente.fecha_nacimiento_bg }}</td>

                                <td>{{cliente.provincia_bg.nombre_bg}}</td>

                                <td>
                                    <a href="/editarCliente/{{cliente.id_bg}}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="javascript:void(0)"
                                    onclick="eliminarCliente('/eliminarCliente/{{cliente.id_bg}}');"class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>


    </ul>

    <script type="text/javascript">
function eliminarCliente(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
  $.validator.addMethod("notFutureDate", function(value, element) {
    var selectedDate = new Date(value);
    var currentDate = new Date();
    return selectedDate <= currentDate;
  }, "La fecha no puede ser posterior a la actual.");
   $("#frm_nuevo_cliente").validate({
     rules:{
           "id_provincia":{
             required:true
           },
       "nombre_bg":{
         required:true,
         number:false



       },
       "direccion_bg":{
         required:true,
       },

       "fecha_nacimiento_bg":{
         required: true,
        date: true,
        notFutureDate: true
       },
       "cedula_bg":{
         required:true,
         number:true

       },
       "apellido_bg":{
         required:true
       },
       "correo_bg":{
         required:true,
         email:true
       }


     },
     messages:{
       "id_provincia":{
             required:"POR FAVOR SELECCIONE LA PROVINCIA"
           },

       "nombre_bg":{
         required:"DEBE INGRESAR EL NOMBRE DEL CLIENTE",

         number:"Solo letras"

       },
       "direccion_bg": {
         required: "DEBE INGRESAR LA DIRECCION DEL CLIENTE",
       },
       "fecha_nacimiento_bg":{
         required:"DEBE INGRESAR LA FECHA DE NACIMIENTO DEL CLIENTE",
        date: "INGRESE UNA FECHA VALIDA",
        notFutureDate: "LA FECHA NO PUEDE SER POSTERIOR A LA ACTUAL"

       },
       "cedula_bg":{
         required:"DEBE INGRESAR  LA CEDULA DEL CLIENTE",
         number: "INGRESE SOLO NÚMEROS EN LA CEDULA"

       },
       "apellido_bg":{
         required:"DEBE INGRESAR  EL APELLIDO DEL CLIENTE",

       },
       "correo_bg":{
         required:"DEBE INGRESAR  EL CORREO DEL CLIENTE",
         email:"DIRECCION DE EMAIL  NO VALIDA"


       }

     }
   });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_clientes').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>

          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



  {%endblock%}
