{% load static %}
<!DOCTYPE html>
<html lang="s" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!--importacion de jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">

    <!-- Importación de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!--importancion de jquery validate-->
    <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">

    </script>

    <!--IMPORTACION DE IZITOAST-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importacion de DataTables -->
      <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
      <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
      </script>



      <!--importacion de fontawesome-->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


      <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
    </script>

<!--IMPORTACION IDIOMA->
<!-- Incluye la biblioteca DataTables -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Incluye la biblioteca de botones para DataTables -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<!-- Incluye el archivo de idioma español -->
<script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
    </script>

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
              <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav">

              <span class="navbar-toggler-icon"></span>

          </button>
          <a href="https://www.youtube.com/watch?v=T79Gh1t0SDM" target="_blank" lass="text-white mr-5 fs-5"><i class="fab fa-youtube"></i></a>
          <br>
            <a href="https://www.facebook.com/RestobarElGranCanon?mibextid=ZbWKwL" target="_blank" lass="text-white mr-5 fs-5"><i class="fab fa-facebook"></i></a>
            <p class="text-white text-center font-italic flex-fill">RESTAURANTE EL GRAN CAÑON</p>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarNav" aria-labelledby="navbarNavLabel">

              <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="navbarNavLabel">Menú</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="nav">
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/">
    <i class="fas fa-globe"></i> PROVINCIAS
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoClientes/">
    <i class="fas fa-users"></i> CLIENTES
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoTipos/">
    <i class="fas fa-tags"></i> TIPOS
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoPedidos/">
    <i class="fas fa-shopping-cart"></i> PEDIDOS
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoPlatillos/">
    <i class="fas fa-utensils"></i> PLATILLOS
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoDetalles/">
    <i class="fas fa-list"></i> DETALLES
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoIngredientes/">
    <i class="fas fa-pepper-hot"></i> INGREDIENTES
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/listadoRecetas/">
    <i class="fas fa-book"></i> RECETAS
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/index/">
    <i class="fas fa-book"></i> INICIO
  </a>
</li>
</ul>
        <form class="navbar-form">
            <input class="form-control me-2" type="search" placeholder="Buscar en la página" aria-label="Buscar" id="searchInput">
            <button class="btn btn-outline-success" type="button" onclick="searchPage()">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
    {% block contenido %}
    {% endblock %}


    <footer>
    <div>
        <p>&copy; 2024 EL GRAN CAÑON. Todos los derechos reservados.</p>
        <p>¡Síguenos en <a href="https://twitter.com/TuEmpresa" target="_blank">Twitter</a> y <a href="https://www.facebook.com/TuEmpresa" target="_blank">Facebook</a>!</p>
    </div>
    <!-- Agregar la imagen encima del footer -->

</footer>


    {% if messages %}
      {% for mensaje in messages %}
      <script type="text/javascript">
          iziToast.success({
            title: 'Éxito',
            message: '{{mensaje}}',
            position: 'topLeft',
          });
</script>


<script>
        // Esperar a que se cargue completamente el documento
        $(document).ready(function() {
            // Función de búsqueda
            function searchPage() {
                // Obtener el valor del input de búsqueda
                var searchTerm = $('#searchInput').val().toLowerCase();

                // Buscar la palabra en el contenido de la página
                var pageContent = $('body').text().toLowerCase();

                // Verificar si la palabra está presente
                if (pageContent.includes(searchTerm)) {
                    alert("¡Palabra encontrada en la página!");
                } else {
                    alert("La palabra no fue encontrada en la página.");
                }
            }

            // Asignar la función de búsqueda al clic del botón
            $('#searchButton').click(function() {
                searchPage();
            });
        });
    </script>
      {% endfor %}
    {% endif %}



  </body>
</html>
